services:
  rabbitmq:
    image: rabbitmq:latest
    container_name: rabbitmq
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
      - 1883:1883
    environment:
      RABBITMQ_DEFAULT_USER: kalo
      RABBITMQ_DEFAULT_PASS: kalo
    configs:
      - source: rabbitmq-plugins
        target: /etc/rabbitmq/enabled_plugins
    volumes:
      - rabbitmq-lib:/var/lib/rabbitmq/
      - rabbitmq-log:/var/log/rabbitmq

  flask-api:
    build: ./backend/api
    depends_on: [rabbitmq]
    ports:
      - "5000:5000"

configs:
  rabbitmq-plugins:
    content: "[rabbitmq_management, rabbitmq_mqtt]."  

volumes:
  rabbitmq-lib:
    driver: local
  rabbitmq-log:
    driver: local