services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    hostname: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
      - "1883:1883"
    environment:
      RABBITMQ_DEFAULT_USER: kalo
      RABBITMQ_DEFAULT_PASS: kalo
    volumes:
      - rabbitmq-lib:/var/lib/rabbitmq
      - rabbitmq-log:/var/log/rabbitmq

  flask-api:
    build: ./backend/api
    container_name: flask-api
    restart: always
    depends_on:
      - rabbitmq
    ports:
      - "5000:5000"
    environment:
      - MQTT_BROKER=rabbitmq
      - MQTT_PORT=1883
      - MQTT_USERNAME=kalo
      - MQTT_PASSWORD=kalo

volumes:
  rabbitmq-lib:
    driver: local
  rabbitmq-log:
    driver: local